@page "/CadastroGeral"
<h1 class="text-center">Cadastro Geral</h1>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group-item list-group-flush mt-2 p-0">
            <li class="list-group-item list-group-item-primary-custom text-white mb-2">Hospital</li>
            <li class="list-group ml-2 mb-1">
                <a href="#" class="link-without-underline text-dark">Insumo hospitalar</a>
            </li>
            <li class="list-group ml-2 mb-1">
                <a href="SupplyCategory" class="link-without-underline text-dark">Categoria de insumo hospitalar</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group-item list-group-flush mt-2 p-0">
            <li class="list-group-item list-group-item-primary-custom text-white mb-2">Tecnologia</li>
            <li class="list-group ml-2 mb-1">
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group-item list-group-flush mt-2 p-0">
            <li class="list-group-item list-group-item-primary-custom text-white mb-2">Farmácia</li>
            <li class="list-group ml-2 mb-1">
            </li>
        </ul>
    </div>
</div>

