<a class="btn btn-success text-white buttons-border-radius @Css" href="@Url" @onclick="OnClick">@Name <span class="icon-margin @Icon"></span></a>

@code {
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Url { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string Css { get; set; } = "";
}
